{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-xTJr89hkm8QFt70y3hQNp1sSc2qO9nr0a2laZte3v8TlKoqEa+o6Of3fDH7gjoLX" crossorigin="anonymous">

<!-- Bootstrap JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

{% load bootstrap_icons %}
{% comment %} {% bs_icons 'alarm' %} {% endcomment %}
{% block title %}Home{% endblock title %}
{% block body %}
<div class="container my-4">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src=" https://source.unsplash.com/random/1920x700/?icecream" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to the Bandar Ice Creams</h5>
          <p>Inaugurated by Power Star Pawan Kalyan</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src=" https://source.unsplash.com/random/1920x700/?ice" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>We Serve Love with Ice Creams</h5>
          <p>Idris's Best Ice Creams</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src=" https://source.unsplash.com/random/1920x700/?icecream with badam palu" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>All varities of icecreams are available </h5>
          <p>I Know you eat Icecreams but I know you have not eaten my Icecreams,So please eat our icecreams</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

{% comment %} +++++++++++ {% endcomment %}
<div class="container my-4">
  <h2 class="text-center my-4">Select from our Range of Ice Creams </h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <img src=" https://source.unsplash.com/random/1920x1000/?eating icecream" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Can't wait to indulge in a heavenly scoop? Our online ordering system allows you to conveniently select your favorite flavors and have them delivered right to your doorstep. .</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/view" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
              {% comment %} <button type="button" class="btn btn-sm btn-outline-secondary">View</button> {% endcomment %}
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src=" https://source.unsplash.com/random/1920x1000/?cake,cutting" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Can't wait to indulge in a heavenly scoop? Our online ordering system allows you to conveniently select your favorite flavors and have them delivered right to your doorstep. .</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/view" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src=" https://source.unsplash.com/random/1920x1000/?cake" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Can't wait to indulge in a heavenly scoop? Our online ordering system allows you to conveniently select your favorite flavors and have them delivered right to your doorstep.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/view" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card shadow-sm">
        <img src=" https://source.unsplash.com/random/1920x1000/?celebrations" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Hold onto your cones as we introduce you to a whole new level of ice cream indulgence</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/view" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src=" https://source.unsplash.com/random/1920x1000/?chocolates" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Hold onto your cones as we introduce you to a whole new level of ice cream indulgence</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/view" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img src=" https://source.unsplash.com/random/1920x1000/?cakes" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">Hold onto your cones as we introduce you to a whole new level of ice cream indulgence</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/view" class="btn btn-sm btn-outline-secondary">View</a>
              <a href="/edit" class="btn btn-sm btn-outline-secondary">Edit</a>
            </div>
            <small class="text-body-secondary">9 mins</small>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</div>
{% block content %}
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="twitter.com" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="facebook.com" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="instagram.com" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="linkedin.com" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="github.com" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Escape to a world of frozen delights with our premium ice cream. 
        Made from the finest ingredients, our velvety smooth scoops are a true 
        treat for ice cream connoisseurs.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Flavors</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white ">Classic Flavors<a/>
            </li>
            <li>
              <a href="#!" class="text-white">Seasonal Flavors</a>
            </li>
            <li>
              <a href="#!" class="text-white"> 
                Signature Flavors</a>
            </li>
            <li>
              <a href="#!" class="text-white">               
                Custom Creations</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Menu</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Milkshakes</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ice Cream Cakes</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ice Cream Cones</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sundaes and Parfaits</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Special Offers</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Daily Specials
              </a>
            </li>
            <li>
              <a href="#!" class="text-white"> Loyalty Program</a>
            </li>
            <li>
              <a href="#!" class="text-white">Happy Hour Dealsm</a>
            </li>
            <li>
              <a href="#!" class="text-white">Seasonal Promotions</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Locations</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Main Store</a>
            </li>
            <li>
              <a href="#!" class="text-white"> Mall Outlet
              </a>
            </li>
            <li>
              <a href="#!" class="text-white">Beachfront Kios
              </a>
            </li>
            <li>
              <a href="#!" class="text-white">Downtown Location</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-white" href="https://idrisicecreams.com/">Idris IceCreams.com</a>
  </div>
  <!-- Copyright -->
</footer>
{% endblock content %}
<!-- Footer -->

{% endblock body %}

