{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
  <div style="text-align: center; padding: 50px;">
    <h1>Login to Your Account</h1>
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required><br><br>
      <input type="submit" value="Login">
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register here</a>.</p>
  </div>
{% endblock body %}
